/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A3A5A6;
  --color-background-primary: #0A0B0D;
  --color-background-secondary: #1A1B21;
  --color-border: #5E5E62;
  --color-alt: #1335F5;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-background-primary);
  background: var(--color-background-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Poppins',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
